<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpellWork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpellWork.Properties.Settings>
            <setting name="AuraTypeFilter" serializeAs="String">
                <value>Aura Type</value>
            </setting>
            <setting name="TargerAFilter" serializeAs="String">
                <value>NO_TARGET</value>
            </setting>
            <setting name="TargetBFilter" serializeAs="String">
                <value>NO_TARGET</value>
            </setting>
            <setting name="SpellNameFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="SpellListWidht" serializeAs="String">
                <value>350</value>
            </setting>
        </SpellWork.Properties.Settings>
    </userSettings>
</configuration>